[2019-06-17 09:01] Ailurupoda opened #1 "Configuration missing"
Hi,

Using this docker-compose file, i manage to have a lizmap working pretty well.
My problem is the lack of information on the lizmap config panel.
I only see few of the parameters. For exemple, the WMS server url is missing as well as the cache storage.
Is their a way to show those information and manage them ?

Thanks by advance

[2019-06-17 10:10] dmarteau commented on #1
Hi,

If your refer to the lizmap web client configuration panel, then WMS server URL and cache storage are admin/server side only configuration, for security reasons, they are not supposed to be exposed to config panel.

[2019-06-17 10:20] Ailurupoda commented on #1
So the parameters are set in the dockerfile directly and not editable after, right  ?

[2019-06-17 10:25] dmarteau commented on #1
No, they are configurable from the container env variables at runtime: `LIZMAP_WMSSERVERURL` ...
You may have a look to https://github.com/3liz/docker-lizmap-web-client for a description of the configuration variables.

[2019-06-17 10:47] Ailurupoda commented on #1
Thanks

[2019-06-17 10:47] #1 closed

[2019-06-28 09:33] Ailurupoda opened #2 "Editing layer loading for ever"
Hi,
I'm experiencing an issue about the editing tool in Lizmap. I manage to configure my layer in the plugin. Publish in WFS and WMS so i can access my data.
I can see all my geometry but when i go to the Editing tool in the mapmenu, (i can see the layer that have the create option enable) the editing form load for a while and i have the log :
[code]
What i don't understand is that i manage to use

[2019-06-28 10:18] dmarteau commented on #2
Which version of Lizmap are you using (i.e which docker-image ?)

[2019-06-28 11:43] Ailurupoda commented on #2
I tried with 3.3-rc, 3.2 and the same issue appear .

[2019-07-03 12:03] Ailurupoda commented on #2
I think i had a corrupted file due to other other install/docker or something.
From scratch it finally works well.

[2019-07-17 12:45] Ailurupoda commented on #2
I have the problem again, so i don't really understand where it comes from.
I opened a Issue here explaining a bit more :
https://github.com/3liz/lizmap-web-client/issues/1280

[2019-07-17 12:45] #2 closed

[2020-02-06 18:33] FlatEric88 opened #4 "Set variables"
Where exactly do I have to enter the missing variables in the docker-compose.yml?
Can u give me an example? docker-compose tells me always that the variables aren't set.

[2020-02-06 20:08] dmarteau commented on #4
The docker compose use environment variables - see https://docs.docker.com/compose/environment-variables/

Please have a look to the instructions in the README.md.

[2020-02-06 20:08] #4 closed

[2020-05-27 23:46] indeOWS opened #5 "lizmap projects"
I have started a lizmap instance with the following setup:

export LIZMAP_DIR=${LIZMAP_DIR:-/home/geo/Documents/projects/qgis/lizmap}
export LIZMAP_USER_ID=${LIZMAP_USER:-$(id -u)}
export LIZMAP_USER_GID=${LIZMAP_GID:-$(id -g)}

According to this config LIZMAP_USER_ID = 1000 and LIZMAP_USER_GID=1000
I have qgis qgs and shapefiles in ${LIZMAP_DIR}/instances. I also have configured qgis lizmap plugi

[2020-06-03 07:53] LucaMoiana opened #6 "Lizmap Docker running under traefik?"
Hi,
I know this is not an issue,
I'm trying to run lizmap-docker under traefik 1.7:
I did add some labels to the nignx docker:

[code]
But that's not enough and I keep getting a niginx.conf error.
Can you point me to some configuration example or tutorial?
thanks for your help and your great development

[2020-06-03 10:27] dmarteau commented on #6
AMHA, it seems more a traefik issue than a Lizmap stack issue.

[2020-06-03 11:02] LucaMoiana commented on #6
I know, I just wanted to know if, by any chance, you had some example.

[2020-06-03 12:25] dmarteau commented on #6
No, I do not use traefik.

[2020-06-03 13:23] #6 closed

[2020-12-07 14:08] Gustry opened #7 "Describe why we can't use in production this compose project"
When reading the readme, we can see :

https://github.com/3liz/lizmap-docker-compose#run-lizmap-stack-with-docker-compose

As we want to promote docker for testing/running Lizmap with just a few commands, we need to explain why we can't use this in production.

[2020-12-07 14:35] dmarteau commented on #7
Because this has been created as a sandbox for testing/running lizmap in a quick 'way'.

There is absolutely no warranty that all requirements for a production deployment are fullfilled (containers running as root, using default user uid/gid ....) - It would extremely dangerous et préjudiciable to claim that it is a 'production-ready' stack.

Furthemore, it does not exists is to such as 'one-fit-a

[2020-12-07 14:43] Gustry commented on #7
Thanks for the anwser.

I think your paragraph would need a section in the readme to explain that. Read the meeting summary about the docs.lizmap.com by email.

We want to promote Lizmap using docker in the docs. So we expect some users knowing *nothing* about docker and why it's written in bold this warning.

[2021-01-21 08:56] nboisteault commented on #7
@dmarteau I'm going to communicate about using this stack in Windows. Could you add more information in README.md to explain why it should not be used in production. Could this stack be a base needed to be improved to be production-ready by someone knowing what he does or it is really not possible?

[2021-01-21 08:58] nboisteault commented on #5
@indeOWS Did you finally resolve your issue?

[2021-01-21 10:35] dmarteau commented on #7
This is an odd question: it is a running stack, so it may be used out of the box but  I will **never** claim that it is
 is a *production ready* stack.

[2021-01-21 10:51] dmarteau commented on #7
To make myself clear: you may use this stack as you want, in your production environnement if you want, but it is at your own risk: there is no security configuration in nginx, some containers are running as root.....

This is definitevely not the same thing as saying that a software is 'production ready' for a given set of functiontality.

As long as you don't know the production context you **ca

[2021-01-21 11:10] dmarteau commented on #7
Changed production notes: 5773c8a7abf98f1f6cbba9268c2fc003bc420757

[2021-01-22 01:10] Gustry commented on #7
It's nice to understand why with your explanations.
Thanks for the commit. @dmarteau with this ticket, we **mainly** wanted more information in the readme for the final user.

[2021-01-22 08:17] nboisteault commented on #7
Thanks @dmarteau  !

[2021-01-22 08:17] #7 closed

[2021-01-22 15:44] frazucca opened #9 "lizmap-docker-compose error"
Hi,
after the last twitter by Nicolas Boisteault (22.jan) I give a try to  lizmap-docker-compose stack  solution.
But I get the following error message after the **make start**

_lizmap_1  | + su -c 'php /scripts/script.php jcommunity~user:create -v --no-error-if-exists --admin --reset   admin'
lizmap_1  | Could not open input file: /scripts/script.php
lizmap-docker-compose-master_lizmap_1 exited

[2021-01-23 14:37] dmarteau commented on #9
Sorry but I cannot reproduce the problem (Ubuntu 18.04, Docker version 20.10.2, build 2291f61).

@frazucca check the execution and directory permissions.

[2021-01-23 14:41] dmarteau commented on #9
This path seems weird to me, check your docker-compose configuration:
[code]

[2021-01-24 10:18] frazucca commented on #9
Mercì David,
 I made the .env  (make env) and check, as you suggest, the docker-compose config and seems correct:

_franz@franz-Z97X-Gaming-G1:~/test_docker/lizmap-docker-compose$ docker-compose config
services:
  lizmap:
    command:
    - php-fpm
    environment:
      LIZMAP_CACHEREDISDB: '1'
      LIZMAP_CACHEREDISHOST: redis
      LIZMAP_CACHESTORAGETYPE: redis
      LIZMAP_HOME: /srv/lizmap

[2021-01-25 07:43] frazucca commented on #9
Hi,
I add the return message from **make clean**  cause it may be useful for debug

_franz@franz-Z97X-Gaming-G1:~/test_docker/lizmap-docker-compose-master$ make clean
docker-compose stop || true
.................................
.................................
................................
rm -rf /home/franz/test_docker/lizmap-docker-compose-master/lizmap/www/*
rm -rf /home/franz/test_docker/

[2021-01-25 08:19] nboisteault commented on #9
@dmarteau Could it be due to the user executing the script not in `docker` group?

[2021-01-25 08:25] nboisteault commented on #9
@frazucca Did you run docker-compose with `sudo`? Look at docker documentation to have more information => https://docs.docker.com/engine/install/linux-postinstall/#manage-docker-as-a-non-root-user

[2021-01-25 08:27] dmarteau commented on #9
This is because the nginx container is running as root - something that has to be fixed - and log files are written with root permissions.

But the others files should not be mounted as root: @frazucca, delete manually all the files with sudo (with care) and rerun make clean.

[2021-01-25 08:33] frazucca commented on #9
@nboisteault
@dmarteau

1) I've checked and my user franz it's in docker group (_id -Gn "franz" | grep -c "docker" return 1_)

2) No, I didn't use sudo

3) I use sudo make clean

In your opinion I can set some user directive in the docker-compose.yml in order to run nginx container not as root?

ciao
fz

[2021-01-25 08:50] dmarteau commented on #9
I have commited a fix for nginx 03a06b567e196dbbd833ebe718c5b3a49cddae64.

@frazucca With this fix no directory should be created as root.

[2021-01-25 09:40] frazucca commented on #9
@dmarteau  mercì
I've tried it immediately  and of course no directory under root ownership, apart the **wps-data**, correct?

But unfortunately I get the same behavior in loop (below) during the **make start** processes.

_lizmap-docker-compose-master_lizmap_1 exited with code 1
lizmap_1  | + chown -R 1000:1000 lizmap/www
lizmap_1  | + update-config.php
lizmap_1  | + php lizmap/install/installer.

[2021-01-25 10:27] frazucca commented on #9
@dmarteau
@nboisteault

I start again make start, and I check  the docker containers behavior during the docker-compose up,

_osboxes@osboxes:~/works/lizmap-docker-compose-master/lizmap$ docker ps -a
CONTAINER ID   IMAGE                        COMMAND                  CREATED         STATUS                          PORTS                              NAMES
530762ee8baf   nginx:1

[2021-01-25 11:35] dmarteau commented on #9
wps-data is from an older version of the docker compose: you should have no files/directory owned by root.

AMHA you have some legacy configuration interfering with the deployement, I would suggest to clone the repo in a new directory and retry from that new repo.

[2021-01-25 12:32] frazucca commented on #9
@dmarteau  pardon
using a new environment (Vbox with Docker version 20.10.2, build 2291f61), cloned repo in a new dir,  make env and checked the docker-compose config,  start the make, and again the same behaviour.

Check if containers are active, show how the lizmap-docker-compose_lizmap_1 is up and down in a loop.

Check the localhost:8090  I get
502 Bad Gateway

I'm really sorry!!
fz

[2021-01-25 12:40] dmarteau commented on #9
@fracuzza Are you  in a Virtual box ?  This is may be the source of your problems, I can't help you very much on this.

I would suggest using a native Docker environment (docker-for-windows or docker-for-mac).

[2021-01-25 13:27] frazucca commented on #9
@dmarteau
I've tested it both in Vbox (ubuntu 20.04) as well as in a Linux server (U 20.04) of course. With the same results.

Anyway I link to **_http://localhost:8091/_**  and I get  this

_{"author": "3Liz", "author_url": "http://3liz.com", "config": {"DEFAULT": {}, "cache": {"rootdir": "/srv/projects", "size": "20", "strict_check": "yes"}, "logging": {"level": "DEBUG"}, "projects.cache": {"ins

[2021-01-25 17:01] frazucca commented on #9
@dmarteau
may be in some manner related to the Local configuration  (eg. in your fr_FR.UTF-8)?

ciao

[2021-01-25 17:23] dmarteau commented on #9
This is definitely related to a regression in the latest lzmap web client 3.4 Docker image. I have opened an issue on the problem: https://github.com/3liz/lizmap-web-client/issues/2067

In the meantime you may try with version 3.3:
[code]

[2021-01-28 15:26] frazucca commented on #9
@dmarteau
mercì beaucoup.
Using version 3.3 it's ok of course.
Waiting for good news on the 3.4 side!!

ciao

[2021-01-28 15:36] frazucca opened #10 "lizmap-docker-compose & postgres"
Hi,
I'm testing the Lizmap docker stack, and apart a trouble with lizmap 3.4 (@dmarteau has open a ticket about), all is great at the moment, but I guess I've to add a postgres-postgis image into the docker-container.yml, in order to test this side too,   right?

ciao
fz

[2021-02-01 18:29] Doctor-Who opened #11 "How / Where to find script php for caching tiles ?"
Hi,

I'm using this docker-compose but I cannot find any mountpoint to access to the var/www/lizmap-web-client/
How to execute lizmap/scripts/script.php to generate tiles for wmts ?

Also command docker exec -it lizmap bash is not working on this container.

Thanks for helping me :)

[2021-02-02 08:57] nboisteault commented on #9
@frazucca You can also test 3.4.0 version but not 3.4.1 which introduced a bug.
I have change current README.md (https://github.com/3liz/lizmap-docker-compose/commit/c4912ca313deebc0d3c3945d6a06f45b6a082007) to explain that.

In Linux, you can :
[code]
or in Windows edit .env.windows file and write:
[code]

[2021-02-02 09:04] nboisteault commented on #10
Hi,
You mean docker-compose.yml?
This file could help https://github.com/3liz/lizmap-web-client/blob/master/tests/docker-compose.yml to add postgresql/postgis to your stack.

[2021-02-02 09:07] nboisteault commented on #10
@dmarteau Could you add postgres/postgis to current stack easily? Thanks.

[2021-02-02 09:12] frazucca commented on #10
@nboisteault  Yes docker-compose.yml. Great tips!
@nboisteault @dmarteau   Mercì

[2021-02-02 13:48] Doctor-Who commented on #11
My bad guys...

`docker exec -it lizmap_lizmap bash `not working but `docker exec -it lizmap_lizmap sh` works

[2021-02-02 13:48] #11 closed

[2021-02-02 15:44] dmarteau commented on #11
The Lizmap image is based on `alpine` linux distro so `bash` is not installed.

[2021-02-02 15:44] Doctor-Who opened #12 "Where is located cache directory ?"
A good question this time (I hope so)
I cannot understand / find by myself where is store tile cache with this configuration.

In a standalone non docker installation, admin menu show what cache directory is use (or redis database)
With Docker Compose I really don't know ? In the Redis container ?

Good to know to avoid lost all tile cache when restarting docker-compose ^^

Thanks you.

[2021-02-02 16:01] dmarteau commented on #12
The docker compose use a redis cache.

BUT: if you want to persits your cache you need to mount the redis db outside the container or in a named volume.

You may also modify the `LIZMAP_CACHESTORAGETYPE` to whatever storage type you want (You should refer to the Lizmap documentation about possible values)

refs:
* About Redis persistent storage on `https://hub.docker.com/_/redis/`
* About [docker

[2021-02-02 16:03] dmarteau commented on #10
It must be a optional feature because if you want to use an alternative/private  database this would just get in your way.

[2021-02-02 16:06] Doctor-Who commented on #12
Thank you David

A la prochaine ;)

[2021-02-05 08:31] nboisteault commented on #5
Please reopen if issue still occurs.

[2021-02-05 08:31] #5 closed

[2021-02-05 08:46] Doctor-Who commented on #12
I'm reopening the issue because something went wrong and I cannot explain.
I'm modify docker compose to set redis persistant
[code]
When I'm launching script.php seeding for tile generation, file named appendonly.aof is growing but RAM too.
After one night seeding, my file is only 2.7 G but RAM (187 G) and swap (150 G) are full.
I've got error following in the container lizmap_lizmap :
Error for t

[2021-02-05 09:08] dmarteau commented on #12
I don't known what the script do and what is the Lizmap error about, but you must know that ther is several cache involved: the cache that may grow is may be the Qgis/Gdal cache from py-qgis-server and depends on things like: the number of projets/layer and the number of configured worker (workers are not sharing data, they are independant processes) and the maximum number of project that Qgis/py-

[2021-02-05 09:43] Doctor-Who commented on #12
Ok understanding, even if the memory cache size was fixed since QGIS server 3.12 (old discussion foss4G 2019)
So I need to retry by reduce or disable the QGSRV_CACHE_SIZE: 'x'
Can you tell me if 0 means no limit or disable ?

[2021-02-05 10:38] dmarteau commented on #12
No, you cannot disable it or set it unlimited.  It is 10 by default but if you have projects with many layers maybe should lesser that number.

[2021-02-05 10:55] Doctor-Who commented on #12
Ok thanks for answer, Problem I think is that I've got a orthophotograpghy regional scale at 20 cm.

[2021-02-05 11:15] Doctor-Who commented on #12
I will try to generate step step, one layer once with one scale level.

[2021-02-17 15:35] ernestoherrera commented on #9
Hi,
I have the same issue. However, I am using OSx.  Is the make command safe for use on a mac?

[2021-02-17 15:44] dmarteau commented on #9
@ernestoherrera if your are not familiar with `make` you may use the same solution as for Windows described [here](https://github.com/3liz/lizmap-docker-compose#windows)

[2021-02-17 15:45] dmarteau commented on #9
Closing the issue since https://github.com/3liz/lizmap-web-client/pull/2078 has been fixed.

[2021-02-17 15:45] #9 closed

[2021-03-01 10:45] pcav opened #13 "Error: ``Could not open input file: /scripts/script.php``"
Upon firtst start:
[code]
I get an error:
[code]

[2021-03-01 12:12] dmarteau commented on #13
This was a regression in lizmap 3.4.1, the problem is described here: https://github.com/3liz/lizmap-docker-compose/issues/9

[2021-03-01 12:33] pcav commented on #13
Thanks. However I'm puzzled: the PR have been merged, I checkoout master, so I should already have the fix. What am I missing?

[2021-03-02 08:10] dmarteau commented on #13
You may have to pull-update the docker images.

[2021-03-02 11:43] pcav commented on #13
`git pull` says it's already up to date. should I checkout a different origin?
Thanks.

[2021-03-02 12:02] dmarteau commented on #13
It is not about `git pull` but `docker pull  3liz/lizmap-web-client:<version>`

[2021-03-02 12:12] pcav commented on #13
`docker pull 3liz/lizmap-web-client:3.4.0` and .1 give the same error as above.

[2021-03-02 12:16] dmarteau commented on #13
@nboisteault @laurentj could you confirm that the fix for #9 has been released with the 3liz docker images ?

[2021-03-02 12:34] nboisteault commented on #13
@dmarteau @pcav Fix will land with coming LWC 3.4.2. To use LWC master as a docker image you have to build it : https://github.com/3liz/lizmap-web-client/blob/master/docker/CONTRIBUTING.md

You can also start LWC 3.4.0 with `make start LIZMAP_VERSION_TAG=3.4.0` if you don't need master version.

[2021-03-02 13:49] pcav commented on #13
I confirm, it works with the last command.

[2021-03-02 14:33] #13 closed

[2021-04-20 09:45] gerald2545 commented on #10
Hi,
I have to add a new project in https://velomax.2p2r.org/websig/lizmap/www/ and I would like to update the lizmap stack to use the latest software versions (with postgis).

@frazucca did you manage to add postgresql/postgis to you docker-compose?

I successfully "docker-compose up" the file https://github.com/3liz/lizmap-web-client/blob/master/tests/docker-compose.yml ...at least no error is ra

[2021-04-20 10:47] dmarteau commented on #10
The startup script try to change the postgres uid/gid to the uid/gid of the mounted volume `/var/lib/postgresql/data` so that it use your chosen uid/gid  instead of some random uid generated from the container.

If you are mounting a volume from a path that does not exists then it will be created as root and the startup script will try to change the `postgres` uid to 0 (root), and that's not permi

[2021-04-20 10:48] dmarteau commented on #10
Yes, that's part is missing atm...

[2021-04-20 10:58] dmarteau commented on #10
The docker recipe has been published to github: https://github.com/3liz/postgis

[2021-04-20 11:06] gerald2545 commented on #10
hum, even if I create the lizmap\pg_data folder before starting the container, the error is the same.

Thank you for the postgis recipe, I'll have a look at it

[2021-04-20 11:36] gerald2545 commented on #10
sorry I don't understand how it can work...

in the postgis recipe, the $PGDATA folder (ENV PGDATA /var/lib/postgresql/data) is created and the ownership is given to user postgres:postgres
`mkdir -p "$PGDATA" && chown -R postgres:postgres "$PGDATA" && chmod 777 "$PGDATA"; \`

then when the container is run, docker-entrypoint.sh is executed : docker_create_db_directories > docker_check_postgres_uid

[2021-04-20 11:45] gerald2545 commented on #10
hum, if it matters....I'm on a windows 10 computer

[2021-04-20 12:50] dmarteau commented on #10
Yes, the directory is created by default in the container, so it may used as persistent volume.

https://github.com/3liz/postgis/blob/master/docker-entrypoint.sh#L11 seems to return 0 (id of root), whereas the ownership was given to postgres, no?

 `https://github.com/3liz/postgis/blob/master/docker-entrypoint.sh#L11` is only run when id=0 (root) so that it can change the uid/gid of the postgres u

[2021-04-20 12:58] dmarteau commented on #10
I use these images on a linux platform on a daily basis for testing multiple environnements, so I suspect that you are hitting some docker on Windows caveat.

Note that you don't have to mount a host volume, you may use a named volume: https://docs.docker.com/storage/volumes/#use-a-volume-with-docker-compose if you want persistence.

[2021-04-20 14:06] gerald2545 commented on #10
PS : I send the following lines for memory (I began to wrote it before you responded...but children are here;)) Thanks for your answers, I will check that tips

_I just built the image postgis using your Dockerfile with some more logs in docker_check_postgres_uid

[code]
and it seems the postgres_uid is equal to volume_uid in this case
output :
[code]

why is this not the same with docker-compose?

[2021-04-20 14:17] gerald2545 commented on #10
right,
using
[code]
is working!!!

thank you for your help, I can go on...but I will need a persistent volume for that at some point

[2021-04-21 19:50] gerald2545 commented on #10
test done under linux > same error trying to change group ID from 999 to 998 (group of the user running docker in the host)
pgsql_1 | groupmod: invalid group ID 'postgres'

wrong variable name used in docker-entrypoint.sh (https://github.com/3liz/postgis/issues/1)

[2021-04-21 19:53] gerald2545 commented on #10
now the error on my windows host is :
[code]

0 is for the root user

[2021-04-21 20:14] gerald2545 opened #15 "3 duplicated variables"
https://github.com/3liz/lizmap-docker-compose/blob/master/Makefile#L17
LIZMAP_DIR, LIZMAP_USER_ID, LIZMAP_USER_GID
not a problem for the moment

[2021-04-22 09:04] dmarteau commented on #15
Fixed in d6c271f66b034fd112eefecee871db5c5950fb41

[2021-04-22 09:04] #15 closed

[2021-04-22 09:13] dmarteau commented on #12
This is a cache configuration issue, note that redis is persistent if your configuration make it so (persistent data volume, but afaik redis store all data in RAM and flush periodically to disk.

So if you have cached material that may exceed your ram you will have to change your cache strategy: use redis distributed cache or configure lizmap to use file cache storage instead of Redis.

[2021-04-22 09:14] #12 closed

[2021-04-22 13:49] Doctor-Who commented on #12
Last feedback : I've try on several type of layers.
This happen only for raster (even small ones)
Cache generation with vector works and stored into Redis even with a large amount of polygon 1.5 millions
but not working fine with Raster

[2021-04-22 15:36] dmarteau commented on #12
Afaik the redis cache only raster rendering from lizmap (i.e getmap request), not vectorized objects so its less than probable that the issue is about raster vs vector.

Note that a cache used for caching arbitrary sized getmap request is totally  inefficient as you will cache a lot of overlapping regions. Consider using a cache if your are using tile rendering.

I really think you will have bette

[2021-04-26 13:02] Doctor-Who commented on #12
You're right, it's about cache generation with PHP command from Lizmap.
I will open new issue on the right project.
Thanks for your help.

[2021-06-01 16:23] Youssef-Harby opened #16 "How can I use certbot and redirect 8090 to 443 with subdomain name ?"
How can I use certbot and redirect 8090 to 443 with subdomain name?
Thanks!

[2021-06-01 16:38] dmarteau commented on #16
You have to change the nginx configuration.

Note: this is a sample configuration for testing Lizmap web client with QGIS:
if you want use it on a production server you will need to make adjustments for meeting your production requirements.

[2021-06-01 16:58] Youssef-Harby commented on #16
I only need this testing docker for my graduation project, can you help me with sample Nginx Configuration?
`lizmap-docker-compose\lizmap\etc\nginx.conf`

[2021-06-01 17:14] dmarteau commented on #16
You may have a look at http://nginx.org/en/docs/http/configuring_https_servers.html

[2021-06-01 17:17] #16 closed

[2021-06-05 05:14] gerald2545 commented on #10
I managed using postgis with the following files, in a linux host :

[docker-compose.zip](https://github.com/3liz/lizmap-docker-compose/files/6602043/docker-compose.zip)
[Makefile.zip](https://github.com/3liz/lizmap-docker-compose/files/6602045/Makefile.zip)

[2021-06-07 16:37] katagen opened #17 "Permission denied with nginx"
Hi,
I was able to install everything on my Synology NAS through SSH.
My problem is that the container "docker_web_1" (nginx) constantly stops working cause of a "permission denied".

`nginx: [alert] could not open error log file: open() "/var/log/nginx/error.log" failed (13: Permission denied)`

and

`2021/06/07 16:23:13 [emerg] 1#1: mkdir() "/var/cache/nginx/client_temp" failed (13: Permission de

[2021-06-07 17:24] dmarteau commented on #17
Because the nginx is not configured to run as root: https://github.com/3liz/lizmap-docker-compose/blob/master/docker-compose.yml#L51

Please consider that *this is a sample configuration for testing Lizmap web client with QGIS  features: if you want use it on a production server you will need to make adjustments for meeting your production requirements.*

[2021-06-08 21:57] katagen commented on #17
I found the solution: I gave +x access to the folders that nginx needs to connect to!

[2021-06-08 21:57] #17 closed

[2021-07-01 13:51] dmarteau commented on #10
0fac11a24ff41682377ae1540abc36acecd36bc2 Postgis support added to docker-compose using the `profile` option: https://docs.docker.com/compose/compose-file/compose-file-v3/#profiles

[2021-07-01 14:00] #10 closed

[2021-07-05 13:45] katagen opened #18 "Can't activate "edition" mode"
Hello,
I created a QGIS projet, with only an orthophoto and a Spatialite layer (points).
I can't activate the "edition" mode in my Lizamp client web.

I can see the orthophoto, also see the point layer, check the attribute table... But I can't find the way to add new points, or delete them?!?

In QGIS, server option, I checked the WFS to be editable in update, delete and add. I also have a primary

[2021-07-06 07:01] dmarteau commented on #18
That's seems to be more a lizmap issue than a docker issue. You should consider addressing the problem here: https://github.com/3liz/lizmap-web-client

[2021-07-06 10:26] katagen commented on #18
Not sure, depends if the php for sqlite is activated!
https://docs.lizmap.com/current/en/

[2021-12-17 15:56] MaxiReglisse opened #20 "the "make configure" command generates two .env files"
I want the data to be in a dedicated folder: /docker instead of working directory. So i modified the Makefile as follows:

    # INSTALL_DIR:=$(shell pwd)/lizmap
    INSTALL_DIR:=/docker/lizmap

The two files are generated at the same time:

    docker@lizmap-dev:~/lizmap-docker-compose $ ls -l .env
    -rw-r--r-- 1 docker docker 413 17 déc.  16:30 .env
    docker@lizmap-dev:~/lizmap-docker-compos

[2022-01-11 07:15] ygorigor commented on #18
https://github.com/3liz/lizmap-plugin/pull/364

[2022-01-24 21:11] jmarpi opened #21 "postgis port change"
Hi, I have the following issue:
On my ubuntu 20.0.4 OS, a postgres container is running on port 5432 with another service.
Modify the file: env.default
The value of `POSTGIS_PORT= ${POSTGIS_PORT:-"127.0.0.1:5433"}`
ie change the port from 5432 to 5433

execute
`make  configure`
and then
`docker-compose up`

and I have the following error:

ERROR: The Compose file './docker-compose.yml' is invalid

[2022-01-25 08:36] dmarteau commented on #21
You have two unrelated questions: one about the port change, the other about the docker-compose problem.

About the docker-compose `profiles` configuration: your docker-compose is too old, please update your docker-compose, your docker-compose must support the versions 3.9 of the docker-compose file.

See https://docs.docker.com/compose/profiles/

Otherwise remove the `profile` from the docker-com

[2022-01-25 15:07] jmarpi commented on #21
@dmarteau Thank you very much for your help, it actually worked by removing the postgis service.

[2022-01-25 15:07] #21 closed

[2022-02-01 16:48] Gustry opened #22 "Use the new environment variable for LWC 3.5"
Since LWC 3.5.1-pre, we need a new environment variable for QGIS Server to enable the plugins versions in the administration panel, and add the API entrypoint for the pyqgisserver.
CF https://docs.lizmap.com/current/en/install/pre_requirements.html#lizmap-server-plugin

[2022-02-11 11:05] Gustry commented on #18
As mentioned by @ygorigor, the spatialite editing capabilities has been disabled in the lizmap QGIS plugin.

[2022-02-11 11:05] #18 closed

[2022-03-22 14:04] nboisteault commented on #20
@dmarteau Any idea?

[2022-03-22 15:24] dmarteau commented on #20
It seems there is a bug here: https://github.com/3liz/lizmap-docker-compose/blob/master/Makefile#L26

[2022-03-22 17:23] dmarteau commented on #20
Fixed invalid copy of .env file, replaced by symlink to INSTALL_DIR/.env: https://github.com/3liz/lizmap-docker-compose/commit/1c00aef6853d62662cb962553ada187128d3a35d

@MaxiReglisse: you don't need to edit the Makefile for overriding the install location: use `make configure INSTALL_DIR=/my/location`

[2022-03-23 08:09] Gustry commented on #22
I don't know how to enable the Lizmap API URL in this docker-compose project.

[2022-03-23 17:57] dmarteau commented on #22
The lizmap API url must be accessed from LWC ? It can be done either from managment port (no configuration needed) or from the default exposed port (configuration needed in config file).

Afaik, access to managment port was implemented in LWC, no ?

[2022-03-24 09:33] Gustry commented on #22
Everything is in the documentation : https://docs.lizmap.com/current/en/install/pre_requirements.html#installation
There is the setting in Py-QGIS-Server.

[2022-03-25 15:48] MaxiReglisse commented on #20
Thank you both, that fixed the problem!

MaxiReglisse

[2022-03-25 15:48] #20 closed

[2022-04-05 14:12] jlstanus opened #23 "[ARM64] exec user process caused: exec format error"
Hi,

I'm using the odroid-C2 with 16gb ssd with ubuntu 20.04 minimal image.
I'have the following issue after pulling the images.
The start up meets an error: exec user process caused: exec format error

![image](https://user-images.githubusercontent.com/402354/161773388-c7eef96d-a66a-4890-85d3-b31572550da9.png)

[2022-04-05 14:34] dmarteau commented on #23
There is no prebuilt image for ARM arch.  If you want ARM support you must go throught the [multiarch build process](https://docs.docker.com/buildx/working-with-buildx/#build-multi-platform-images).

[2022-04-08 07:45] jlstanus commented on #23
So i need to go to each service to try to build it's own image with --plateform linux/arm64 and refer it in the docker-compose file?

[2022-04-08 07:54] dmarteau commented on #23
That's the idea.

[2022-05-13 17:39] ocastillog opened #24 "LIZMAP_PORT changed to 80 but not updated on View Metadata"
Hello guys,

I'm using Lizmap 3.5 with Docker on Ubuntu Server 20.04

I have the following issue after changing to 80 the LIZMAP_PORT on env.default file.

Port 80 is not showing after click on "View Metadata" button or in the "Information Panel" after load the map.

The "WMS Url " and "WMTS Url" links are still showing 8080 port in the URL address.

[2022-05-25 17:04] dmarteau commented on #24
LIZMAP_PORT is the port mounted on the host network, in the container the lizmap service is still  using the port 8080. I would suggest that you have a look at port mapping in Docker: https://docs.docker.com/config/containers/container-networking/

[2022-06-14 12:20] skvo1977 opened #25 "Is it possible to use custom templates in Lizmap-Docker?"
Hello!

I'm using Lizmap 3.5 with Docker on Ubuntu Server 20.04.
And I have a question

Сan i use custom templates as described in documentation here ?  - https://docs.lizmap.com/current/en/publish/customization/template.html
And where should the template files be placed in this case?
Do I need to add a folder "var/themes/default"  in section "volumes" for  "lizmap"- servieces  in docker-compose f

[2022-06-14 15:02] nboisteault opened #26 "Use qgis-lizmap-server-plugin instead of Lizmap plugin"

[2022-06-14 15:12] nboisteault commented on #25
Hi!
Yes, please try to add `- ${LIZMAP_DIR}/var/lizmap-themes-default:/www/lizmap/var/themes/default` after :
https://github.com/3liz/lizmap-docker-compose/blob/master/docker-compose.yml#L17

And tell us if it works. If it is ok, could you please make a Pull Request?

[2022-06-14 15:33] Gustry commented on #26
This ticket is highly linked to #22 because the new the Lizmap plugin does not include the server part and needs the environment variable to make LWC 3.5 working.

[2022-06-15 07:42] skvo1977 commented on #25
Thank you very much!
It works.

[2022-06-16 10:13] dmarteau commented on #26
The Qgis server image provide qgis-plugin-manager since the release of py-qgis-server 1.8.1

[2022-06-16 13:26] skvo1977 commented on #25
I'm sorry. I reopen this topic because I find error in the work of the administration interface after changes.
My changes:
I change docker-compose.yml  - add new line  ${LIZMAP_DIR}/var/lizmap-themes-default:/www/lizmap/var/themes/default
Copy **only** modified template main.tpl  in   ${LIZMAP_DIR}/var/lizmap-themes-default/view
The map view interface work correct.
But, when I go to administration

[2022-06-16 14:19] dmarteau commented on #25
It appears that there is some content needed in the directory required for lizmap to run properly. (Lizmap is not fully docker friendly yet :-/).

My guess is that you will have to modify the docker-compose file to fit your needs: i.e explicitely mount  the files/dir required for your needs.

[2022-06-17 09:03] skvo1977 commented on #25
Thank you.
I found what files were needed for the administration interface.
Everything is working correctly now :)

[2022-06-17 09:33] nboisteault commented on #25
@skvo1977 Could you change your PR accordingly? Thanks.

[2022-06-17 11:58] #22 closed

[2022-06-17 11:58] #26 closed

[2022-06-29 14:34] NyakudyaA opened #30 "make configure error"
# Problem

Do a local checkout of master and run the following
[code]
See the following errors

[code]

[2022-06-29 15:40] dmarteau commented on #30
Please update (your `3liz/qgis-map-server:$QGIS_VERSION` image (3.22 or 3.24). The qgis-plugin-manager is not provided with previous builds.
[code]

[2022-06-30 07:18] #30 closed

[2022-07-19 16:48] toniodlab commented on #25
Hello there. I find why this issue is triggered.

Adding the following line will erase some content in `lizmap/var/themes/default` folder :
`- ${LIZMAP_DIR}/var/lizmap-themes-default:/www/lizmap/var/themes/default`

I instead add a line `- ${LIZMAP_DIR}/var/lizmap-themes-default/view:/www/lizmap/var/themes/default/view` and everything is working fine.

I may need to add a line for every modules I

[2022-07-22 15:54] ocastillog commented on #24
Thank you David for your repply:

Still not sure if I have to change to port 80 on nginx or lizmap container.

Maybe I have to edit the docker-compose.yml like this?

- ${LIZMAP_PORT}:80

The WMS and WMTS URLs are still using 8080 port.

Best regards,
Osmin Castillo

[2022-07-22 16:31] dmarteau commented on #24
Do not change the port number in the docker-compose.yml: this is the *internal* exposed port from inside the container.

You have an issue about proxified urls: the lizmap service is requesting the map server on the port 8080, so the server respond with WMS urls set to the 8080 port.

If you acces the directly the map server (try http://localhost:8091/ows/?service=WFS&request=GetCapabilities&MAP=t

[2022-07-22 17:17] dmarteau commented on #24
ATM, you should not consider the urls returned from lizmap as relevant (see the issue above). If you want direct access to the
map server OWS api, consider requesting the map service directly on its publicly exposed port.

[2022-07-22 17:18] dmarteau opened #32 "D"

[2022-07-25 09:35] rldhont commented on #32
@dmarteau is it possible in docker-compose to deactivate a service when it is needed by an other one ?

[2022-07-25 12:40] dmarteau commented on #32
If postgis is now required for storing user database, these you may use a configuration where the postgres service run silently as backend i.e:
1) Do no publish public access to 5432
2) Don't use pgservice/pgpass, as they are also used by Qgis for SIG data.

[2022-07-25 13:03] Gustry commented on #24
This should be avoided, in the long term. QGIS Server mustn't be accessible directly indeed. Lizmap is doing ACL about projects, layers and features which are visible or not.

[2022-08-19 14:27] fisholo opened #33 "Relation "jlx_user" does not exist"
Hi all and thanks for work done!
In a fresh install of lizmap-docker-compose (latest git version) I have trouble with the instantiation of the postggresql db.

The key error in docker-compose postgis logs is: ERROR:  relation "jlx_user" does not exist at character 350
The lizmap db, with lizmap scheme is empty, no table created.

Thanks for help!

[2022-08-19 15:05] fisholo commented on #33
Maybe the problems area related but I have to comment in configure.sh the function _install-plugin() because make configure report this error:
Configuring environment
Copying files
Creating directories
Creating env file
Creating pg_service.conf
Creating lizmap profiles
Installing lizmap plugin
/src/install-lizmap-plugin.sh: line 7: qgis-plugin-manager: command not found
/src/install-lizmap-plugin.

[2022-09-13 14:41] Gustry commented on #33
You should upgrade your QGIS docker images. (docker pull ...)
`docker compose update`

I'm not sure we have included `qgis-plugin-manager` in old QGIS server version as well, so update to at least 3.22.

[2022-09-13 14:44] Gustry opened #35 "Review how we add test projects"
For now, it seems wrong the way we include QGIS project.
We are missing one level directory.

Source of projects : https://github.com/3liz/lizmap-docker-compose/tree/master/lizmap.dir/instances
Copy : https://github.com/3liz/lizmap-docker-compose/blob/master/configure.sh#L110

We are missing the "Lizmap repository" folder.
We should also include the configuration in the INI file.

And I think we s

[2022-09-13 14:57] dmarteau commented on #35
What do you mean ?

[2022-09-13 16:01] Gustry commented on #35
There isn't any "Lizmap repository" provided by default.
And when we want to add one, the, combox is not showing the correct folder. It must be one level up if you want to see these projects in Lizmap.
![Screenshot from 2022-09-13 17-58-45](https://user-images.githubusercontent.com/1609292/189950457-3045c6f8-13e2-4864-ab81-1ee26c46dc2c.png)

![ksnip_20220913-175918](https://user-images.githubuserc

[2022-09-13 16:07] Gustry commented on #35
Arf sorry, I just understood. I think we should use the same folder, easier for people to understand.
People are **often** thinking that we can have a single QGIS project in a folder.

[2022-09-13 17:53] dmarteau commented on #35
You may have several projects.
You may have serveral sub-folders with projects inside.

As far as I can remember, Lizmap know (or knew at list) deal with projects in subfolder. But maybe I'm wrong.

[2022-09-14 19:03] run4gis opened #36 "database "lizmap" does not exist"
Using Windows 10 + Docker Desktop.
When run "docker compose up", get an error: database "lizmap" does not exist.

[2022-09-26 14:54] Gustry opened #37 "Use the new environment for QGIS-Plugin-Manager"
* QGIS_PLUGIN_MANAGER_SOURCES_FILE
* QGIS_PLUGIN_MANAGER_CACHE_DIR

CF https://github.com/3liz/qgis-plugin-manager/issues/32

[2022-09-28 23:17] ocastillog opened #38 "Time Manager Animation Date in Descending Order"
Hello guys:

I'm testing the Time Manager component in Lizmap and it's working great. My question is, there's an option for animate with the date attribute in descending order, starting on max date to min date?

Thanks in advance,
Osmin Castillo

[2022-11-24 14:19] #23 closed

[2022-11-24 14:27] dmarteau commented on #36
The lizmap database is created at startup from the postgres container **only ithe first time the postgres service is configured**.

* Check for errors at startup in the contaner's logs
* Clean up installation and volumes with `docker compose down --volumes` (caution this will wipeout the database in case you have any data in it).